@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Concept for a simple animated menu 

   ALERT: MESSY CODE!!!
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* Generic */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#home {
  min-height: 100%;
  background-color: #ffc707;
  font-size: 1.2em;
  /* 19px .ca */
  text-transform: uppercase; }

.switch-group {
  width: 100%; }

.switch-group p,
.switch-group div {
  float: left;
  width: 50%;
  height: 3em;
  margin: 0;
  padding: 0.7em;
  box-sizing: border-box; }

.switch-group p {
  text-align: right;
  padding-top: 0.8em;
  padding-right: 1em; }

.switch-group div {
  padding-left: 0.7em; }

.cmd-toggle {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px; }

input.cmd-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 2.9em;
  height: 1.3em;
  background-color: #ddd;
  border-radius: 1.3em; }

input.cmd-toggle + label:before,
input.cmd-toggle + label:after {
  display: block;
  position: absolute;
  content: ""; }

input.cmd-toggle + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fffff0;
  border-radius: 25px;
  transition: background 0.4s; }

input.cmd-toggle + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 21px;
  background-color: #ddd;
  border-radius: 21px;
  transition: margin 0.4s, background 0.4s; }

input.cmd-toggle:checked + label {
  background-color: #8ce196; }

input.cmd-toggle:checked + label:after {
  background-color: #8ce196;
  margin-left: 31px; }

#align-toggle.cmd-toggle + label,
#align-toggle.cmd-toggle + label:after {
  background-color: #8ce196;
  /* #5bc3d8; */ }

#about {
  background-color: #f2092c; }

#contact {
  background-color: #40c4ff; }

#about > div {
  width: 100%;
  height: 100%; }

.contacts {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2.2em; }

.contacts li {
  display: inline;
  margin: 0.25em; }

.contacts a {
  text-decoration: none;
  color: inherit; }

.contacts a:hover {
  color: #fff; }

/* Bomb-Menu Size and Positioning */
.bomb-menu {
  font-size: 0.8em;
  /* change font-size here to scale menu accordingly */
  position: fixed;
  /* menu position */
  top: .5em;
  width: 5.2em;
  /* menu toggle button size */
  height: 5.2em; }
  @media (min-width: 1025px) {
    .bomb-menu {
      display: none;
      position: fixed;
      top: 1.5rem; } }

.right-menu {
  right: 2.2em; }

.left-menu {
  left: 2.2em; }

.bomb-menu .menu-toggle-btn,
.bomb-menu .menuIcon,
.bomb-menu .menu-item {
  position: absolute;
  top: 0; }

.right-menu .menu-toggle-btn,
.right-menu .menuIcon,
.right-menu .menu-item {
  right: 0; }

.left-menu .menu-toggle-btn,
.left-menu .menuIcon,
.left-menu .menu-item {
  left: 0; }

.bomb-menu .menu-toggle-btn,
.bomb-menu .menuIcon {
  width: 100%;
  height: 100%; }

.bomb-menu .menu-item {
  width: 5.0em;
  /* inner elements size */
  height: 5.0em; }

.bomb-menu .menu-item i {
  font-size: 2em; }

/* Bomb-Menu Style */
.bomb-menu,
.bomb-menu .menu-toggle-btn,
.bomb-menu .menu-icon,
.bomb-menu .menu-item,
.bomb-menu a {
  border-radius: 50%; }

.bomb-menu {
  cursor: pointer;
  text-align: center;
  color: #fff;
  z-index: 100; }

.menu-toggle-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  padding: 0;
  cursor: inherit;
  background-color: #3498db;
  z-index: 101; }

.menu-toggle-btn:focus {
  outline: none; }

.menu-icon {
  pointer-events: none; }

.bomb-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden; }

.active + ul {
  visibility: visible; }

.bomb-menu .menu-item {
  background-color: #3498db;
  display: table; }

.bomb-menu a {
  display: table-cell;
  vertical-align: middle;
  /* vertical centering */
  color: inherit; }

/*********************** ANIMATIONS ***********************/
/* Menu Icon Animation - Works for both right-aligned and left-aligned menu */
.active {
  animation: shake 600ms ease-in-out forwards; }

.line {
  transform: translateY(0px) rotate(0deg);
  transition: transform 200ms linear; }

/* transform-origin fix for Firefox v42 */
.line1 {
  transform-origin: 26px 18px; }

.line2 {
  transform-origin: 26px 26px; }

.line3 {
  transform-origin: 26px 34px; }

.active .line1 {
  transform: translateY(8px) rotate(45deg); }

.active .line2 {
  transform: rotate(-45deg); }

.active .line3 {
  transform: translateY(-8px) rotate(-45deg); }

/* Menu Items Animation - right-aligned menu */
.right-menu .active + ul > .mi-1 {
  animation: rExplode1 80ms ease-out 530ms forwards; }

.right-menu .active + ul > .mi-2 {
  animation: rExplode2 80ms ease-out 530ms forwards; }

.right-menu .active + ul > .mi-3 {
  animation: rExplode3 80ms ease-out 530ms forwards; }

/* Menu Items Animation - left-aligned menu */
.left-menu .active + ul > .mi-1 {
  animation: lExplode1 80ms ease-out 530ms forwards; }

.left-menu .active + ul > .mi-2 {
  animation: lExplode2 80ms ease-out 530ms forwards; }

.left-menu .active + ul > .mi-3 {
  animation: lExplode3 80ms ease-out 530ms forwards; }

@keyframes shake {
  0% {
    transform: translateX(5px); }
  4% {
    transform: translateX(0px); }
  8% {
    transform: translateX(-5px); }
  12% {
    transform: translateX(0px); }
  15% {
    transform: translateX(5px); }
  18% {
    transform: translateX(0px); }
  21% {
    transform: translateX(-5px); }
  24% {
    transform: translateX(0px); }
  28% {
    transform: translateX(5px); }
  32% {
    transform: translateX(0px); }
  36% {
    transform: translateX(-5px); }
  40% {
    transform: translateX(0px); }
  44% {
    transform: translateX(5px); }
  48% {
    transform: translateX(0px); }
  52% {
    transform: translateX(-5px); }
  56% {
    transform: translateX(0px) scale(1); }
  85% {
    transform: scale(0.7); }
  94% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/* right-aligned menu only */
@keyframes rExplode1 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translateX(-160%); }
  100% {
    transform: translateX(-140%); } }

@keyframes rExplode2 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translate(-126%, 126%); }
  100% {
    transform: translate(-106%, 106%); } }

@keyframes rExplode3 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translateY(160%); }
  100% {
    transform: translateY(140%); } }

/* left-aligned menu: just change translateX sign */
@keyframes lExplode1 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translateX(160%); }
  100% {
    transform: translateX(140%); } }

@keyframes lExplode2 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translate(126%, 126%); }
  100% {
    transform: translate(106%, 106%); } }

@keyframes lExplode3 {
  0% {
    transform: translate(0px, 0px); }
  70% {
    transform: translateY(160%); }
  100% {
    transform: translateY(140%); } }

.animate__animated.animate__fadeInLeft {
  --animate-duration: 0.5s; }

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px; } }

/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase; }

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase; }

li span {
  display: block;
  font-size: 4.5rem; }

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto); }

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.09em solid #000000;
  width: 0.82em;
  height: 0.82em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: center;
  margin: auto; }

.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto; }

.c100 {
  position: relative;
  font-size: 160px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: center;
  margin: auto;
  background-color: #dfe8ed; }

.c100 *,
.c100 *:before,
.c100 *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #3c4761;
  display: block;
  text-align: center;
  white-space: nowrap;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.c100:after {
  position: absolute;
  top: 0.09em;
  left: 0.09em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #ffffff;
  width: 0.82em;
  height: 0.82em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em); }

.c100.p1 .bar {
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -webkit-transform: rotate(3.6deg);
  transform: rotate(3.6deg); }

.c100.p2 .bar {
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -webkit-transform: rotate(7.2deg);
  transform: rotate(7.2deg); }

.c100.p3 .bar {
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -webkit-transform: rotate(10.8deg);
  transform: rotate(10.8deg); }

.c100.p4 .bar {
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -webkit-transform: rotate(14.4deg);
  transform: rotate(14.4deg); }

.c100.p5 .bar {
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg); }

.c100.p6 .bar {
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -webkit-transform: rotate(21.6deg);
  transform: rotate(21.6deg); }

.c100.p7 .bar {
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -webkit-transform: rotate(25.2deg);
  transform: rotate(25.2deg); }

.c100.p8 .bar {
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -webkit-transform: rotate(28.8deg);
  transform: rotate(28.8deg); }

.c100.p9 .bar {
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -webkit-transform: rotate(32.4deg);
  transform: rotate(32.4deg); }

.c100.p10 .bar {
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg); }

.c100.p11 .bar {
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -webkit-transform: rotate(39.6deg);
  transform: rotate(39.6deg); }

.c100.p12 .bar {
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -webkit-transform: rotate(43.2deg);
  transform: rotate(43.2deg); }

.c100.p13 .bar {
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -webkit-transform: rotate(46.8deg);
  transform: rotate(46.8deg); }

.c100.p14 .bar {
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -webkit-transform: rotate(50.4deg);
  transform: rotate(50.4deg); }

.c100.p15 .bar {
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg); }

.c100.p16 .bar {
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -webkit-transform: rotate(57.6deg);
  transform: rotate(57.6deg); }

.c100.p17 .bar {
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -webkit-transform: rotate(61.2deg);
  transform: rotate(61.2deg); }

.c100.p18 .bar {
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -webkit-transform: rotate(64.8deg);
  transform: rotate(64.8deg); }

.c100.p19 .bar {
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -webkit-transform: rotate(68.4deg);
  transform: rotate(68.4deg); }

.c100.p20 .bar {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg); }

.c100.p21 .bar {
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -webkit-transform: rotate(75.6deg);
  transform: rotate(75.6deg); }

.c100.p22 .bar {
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -webkit-transform: rotate(79.2deg);
  transform: rotate(79.2deg); }

.c100.p23 .bar {
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -webkit-transform: rotate(82.8deg);
  transform: rotate(82.8deg); }

.c100.p24 .bar {
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -webkit-transform: rotate(86.4deg);
  transform: rotate(86.4deg); }

.c100.p25 .bar {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.c100.p26 .bar {
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -webkit-transform: rotate(93.6deg);
  transform: rotate(93.6deg); }

.c100.p27 .bar {
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -webkit-transform: rotate(97.2deg);
  transform: rotate(97.2deg); }

.c100.p28 .bar {
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -webkit-transform: rotate(100.8deg);
  transform: rotate(100.8deg); }

.c100.p29 .bar {
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -webkit-transform: rotate(104.4deg);
  transform: rotate(104.4deg); }

.c100.p30 .bar {
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg); }

.c100.p31 .bar {
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -webkit-transform: rotate(111.6deg);
  transform: rotate(111.6deg); }

.c100.p32 .bar {
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -webkit-transform: rotate(115.2deg);
  transform: rotate(115.2deg); }

.c100.p33 .bar {
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -webkit-transform: rotate(118.8deg);
  transform: rotate(118.8deg); }

.c100.p34 .bar {
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -webkit-transform: rotate(122.4deg);
  transform: rotate(122.4deg); }

.c100.p35 .bar {
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg); }

.c100.p36 .bar {
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -webkit-transform: rotate(129.6deg);
  transform: rotate(129.6deg); }

.c100.p37 .bar {
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -webkit-transform: rotate(133.2deg);
  transform: rotate(133.2deg); }

.c100.p38 .bar {
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -webkit-transform: rotate(136.8deg);
  transform: rotate(136.8deg); }

.c100.p39 .bar {
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -webkit-transform: rotate(140.4deg);
  transform: rotate(140.4deg); }

.c100.p40 .bar {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg); }

.c100.p41 .bar {
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -webkit-transform: rotate(147.6deg);
  transform: rotate(147.6deg); }

.c100.p42 .bar {
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -webkit-transform: rotate(151.2deg);
  transform: rotate(151.2deg); }

.c100.p43 .bar {
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -webkit-transform: rotate(154.8deg);
  transform: rotate(154.8deg); }

.c100.p44 .bar {
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -webkit-transform: rotate(158.4deg);
  transform: rotate(158.4deg); }

.c100.p45 .bar {
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg); }

.c100.p46 .bar {
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -webkit-transform: rotate(165.6deg);
  transform: rotate(165.6deg); }

.c100.p47 .bar {
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -webkit-transform: rotate(169.2deg);
  transform: rotate(169.2deg); }

.c100.p48 .bar {
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -webkit-transform: rotate(172.8deg);
  transform: rotate(172.8deg); }

.c100.p49 .bar {
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -webkit-transform: rotate(176.4deg);
  transform: rotate(176.4deg); }

.c100.p50 .bar {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.c100.p51 .bar {
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -webkit-transform: rotate(183.6deg);
  transform: rotate(183.6deg); }

.c100.p52 .bar {
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -webkit-transform: rotate(187.2deg);
  transform: rotate(187.2deg); }

.c100.p53 .bar {
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -webkit-transform: rotate(190.8deg);
  transform: rotate(190.8deg); }

.c100.p54 .bar {
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -webkit-transform: rotate(194.4deg);
  transform: rotate(194.4deg); }

.c100.p55 .bar {
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -webkit-transform: rotate(198deg);
  transform: rotate(198deg); }

.c100.p56 .bar {
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -webkit-transform: rotate(201.6deg);
  transform: rotate(201.6deg); }

.c100.p57 .bar {
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -webkit-transform: rotate(205.2deg);
  transform: rotate(205.2deg); }

.c100.p58 .bar {
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -webkit-transform: rotate(208.8deg);
  transform: rotate(208.8deg); }

.c100.p59 .bar {
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -webkit-transform: rotate(212.4deg);
  transform: rotate(212.4deg); }

.c100.p60 .bar {
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg); }

.c100.p61 .bar {
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -webkit-transform: rotate(219.6deg);
  transform: rotate(219.6deg); }

.c100.p62 .bar {
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -webkit-transform: rotate(223.2deg);
  transform: rotate(223.2deg); }

.c100.p63 .bar {
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -webkit-transform: rotate(226.8deg);
  transform: rotate(226.8deg); }

.c100.p64 .bar {
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -webkit-transform: rotate(230.4deg);
  transform: rotate(230.4deg); }

.c100.p65 .bar {
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -webkit-transform: rotate(234deg);
  transform: rotate(234deg); }

.c100.p66 .bar {
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -webkit-transform: rotate(237.6deg);
  transform: rotate(237.6deg); }

.c100.p67 .bar {
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -webkit-transform: rotate(241.2deg);
  transform: rotate(241.2deg); }

.c100.p68 .bar {
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -webkit-transform: rotate(244.8deg);
  transform: rotate(244.8deg); }

.c100.p69 .bar {
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -webkit-transform: rotate(248.4deg);
  transform: rotate(248.4deg); }

.c100.p70 .bar {
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg); }

.c100.p71 .bar {
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -webkit-transform: rotate(255.6deg);
  transform: rotate(255.6deg); }

.c100.p72 .bar {
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -webkit-transform: rotate(259.2deg);
  transform: rotate(259.2deg); }

.c100.p73 .bar {
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -webkit-transform: rotate(262.8deg);
  transform: rotate(262.8deg); }

.c100.p74 .bar {
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -webkit-transform: rotate(266.4deg);
  transform: rotate(266.4deg); }

.c100.p75 .bar {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.c100.p76 .bar {
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -webkit-transform: rotate(273.6deg);
  transform: rotate(273.6deg); }

.c100.p77 .bar {
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -webkit-transform: rotate(277.2deg);
  transform: rotate(277.2deg); }

.c100.p78 .bar {
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -webkit-transform: rotate(280.8deg);
  transform: rotate(280.8deg); }

.c100.p79 .bar {
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -webkit-transform: rotate(284.4deg);
  transform: rotate(284.4deg); }

.c100.p80 .bar {
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg); }

.c100.p81 .bar {
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -webkit-transform: rotate(291.6deg);
  transform: rotate(291.6deg); }

.c100.p82 .bar {
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -webkit-transform: rotate(295.2deg);
  transform: rotate(295.2deg); }

.c100.p83 .bar {
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -webkit-transform: rotate(298.8deg);
  transform: rotate(298.8deg); }

.c100.p84 .bar {
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -webkit-transform: rotate(302.4deg);
  transform: rotate(302.4deg); }

.c100.p85 .bar {
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -webkit-transform: rotate(306deg);
  transform: rotate(306deg); }

.c100.p86 .bar {
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -webkit-transform: rotate(309.6deg);
  transform: rotate(309.6deg); }

.c100.p87 .bar {
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -webkit-transform: rotate(313.2deg);
  transform: rotate(313.2deg); }

.c100.p88 .bar {
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -webkit-transform: rotate(316.8deg);
  transform: rotate(316.8deg); }

.c100.p89 .bar {
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -webkit-transform: rotate(320.4deg);
  transform: rotate(320.4deg); }

.c100.p90 .bar {
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg); }

.c100.p91 .bar {
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(327.6deg); }

.c100.p92 .bar {
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -webkit-transform: rotate(331.2deg);
  transform: rotate(331.2deg); }

.c100.p93 .bar {
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -webkit-transform: rotate(334.8deg);
  transform: rotate(334.8deg); }

.c100.p94 .bar {
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -webkit-transform: rotate(338.4deg);
  transform: rotate(338.4deg); }

.c100.p95 .bar {
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg); }

.c100.p96 .bar {
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -webkit-transform: rotate(345.6deg);
  transform: rotate(345.6deg); }

.c100.p97 .bar {
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -webkit-transform: rotate(349.2deg);
  transform: rotate(349.2deg); }

.c100.p98 .bar {
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -webkit-transform: rotate(352.8deg);
  transform: rotate(352.8deg); }

.c100.p99 .bar {
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -webkit-transform: rotate(356.4deg);
  transform: rotate(356.4deg); }

.c100.p100 .bar {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.c100:hover {
  cursor: default; }

.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #3c4761; }

.c100:hover:after {
  top: 0.07em;
  left: 0.07em;
  width: 0.86em;
  height: 0.86em; }

.c100.blue .bar,
.c100.blue .fill {
  border-color: #30bae7 !important; }

.c100.blue:hover > span {
  color: #3c4761; }

.c100.pink .bar,
.c100.pink .fill {
  border-color: #d74680 !important; }

.c100.pink:hover > span {
  color: #3c4761; }

.c100.green .bar,
.c100.green .fill {
  border-color: #15c7a8 !important; }

.c100.green:hover > span {
  color: #3c4761; }

.c100.orange .bar,
.c100.orange .fill {
  border-color: #eb7d4b !important; }

.c100.orange:hover > span {
  color: #3c4761; }

@media (min-width: 320px) and (max-width: 425px) {
  h2 {
    font-size: 28px !important; } }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif; }

header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: url("../images/MainPurple.svg") no-repeat;
  background-size: cover; }
  @media (max-width: 425px) {
    header {
      background-size: container; }
      header .headline {
        display: none !important;
        margin: auto; }
      header .cursor {
        display: none !important; } }
  @media (max-width: 1024px) {
    header .navbar-nav {
      display: none; } }
  header .navbar-nav a {
    color: #000 !important;
    font-size: 22px; }
  header .navbar-brand {
    font-family: 'Staatliches';
    font-size: 36px;
    text-align: left; }
    header .navbar-brand img {
      width: 100%; }
  header .btn_order {
    background: #34ace0;
    border: 1px solid transparent;
    padding: 10px 15px 10px 15px;
    border-radius: 35px;
    color: #fff;
    transition: 0.33s linear; }
    header .btn_order:hover {
      background: #fff;
      border: 1px solid #34ace0;
      color: #34ace0; }
    @media (max-width: 1025px) {
      header .btn_order {
        display: none;
        margin: auto; } }
    header .btn_order i {
      margin-right: 10px; }
  header .contacts {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center !important;
    margin-left: 15px; }
    header .contacts .btn_call {
      margin-right: 15px;
      color: #000;
      font-size: 18px;
      line-height: 33px;
      transition: 0.10s linear; }
      header .contacts .btn_call i {
        transform: rotate(-30deg);
        margin-right: 5px; }
      header .contacts .btn_call:hover {
        color: #34ace0; }
      @media (max-width: 425px) {
        header .contacts .btn_call {
          font-size: 10px;
          margin-right: 3px; } }
    header .contacts .adress {
      margin-left: 20%;
      color: #000;
      font-size: 18px;
      line-height: 33px;
      transition: 0.10s linear;
      margin-bottom: 0px; }
    @media (max-width: 425px) {
      header .contacts {
        display: block;
        text-align: left !important; }
        header .contacts .adress {
          margin-left: 0; } }
  header .headline {
    margin: auto;
    display: block;
    width: 100%; }
    @media (max-width: 425px) {
      header .headline {
        margin: auto;
        width: 100% !important; }
        header .headline .cursor {
          display: none !important; } }
  header .text-js {
    text-align: center;
    opacity: 0; }
  header .cursor {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: #000;
    z-index: 1;
    animation: flash 0.5s none infinite alternate; }
    @media (max-width: 425px) {
      header .cursor {
        display: none !important; } }

@keyframes flash {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.modal {
  background-color: RGBA(255, 255, 225, 0.3); }
  .modal .modal-body {
    padding-top: 20px;
    padding-bottom: 50px; }
    .modal .modal-body .form {
      text-align: center; }
      .modal .modal-body .form .form_item input,
      .modal .modal-body .form .form_item textarea {
        width: 100%;
        border: 1px solid #34ace0;
        padding: 11px 15px 11px 20px;
        border-radius: 35px;
        margin-top: 15px; }
        .modal .modal-body .form .form_item input::placeholder,
        .modal .modal-body .form .form_item textarea::placeholder {
          color: #000; }
        .modal .modal-body .form .form_item input:focus-visible,
        .modal .modal-body .form .form_item textarea:focus-visible {
          box-shadow: none;
          outline: none; }
      .modal .modal-body .form .form_item textarea {
        height: 48px; }
      .modal .modal-body .form .form_item select {
        border: 1px solid #34ace0;
        padding: 11px 15px 11px 20px;
        border-radius: 35px;
        width: 100%;
        margin-top: 15px; }
        .modal .modal-body .form .form_item select::placeholder {
          color: #000; }
        .modal .modal-body .form .form_item select:focus-visible {
          box-shadow: none;
          outline: none; }
      .modal .modal-body .form .submit_btn {
        background: #34ace0;
        color: #fff;
        padding: 11px 22px 11px 22px;
        text-align: center;
        margin: auto;
        border: 1px solid #34ace0;
        border-radius: 22px;
        margin-top: 30px;
        transition: 0.33s linear; }
        .modal .modal-body .form .submit_btn:hover {
          color: #34ace0;
          background: #fff;
          boder: 1px solid #fff; }

.welcome {
  display: flex;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  align-self: center; }
  @media (min-width: 320px) and (max-width: 425px) {
    .welcome {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 425px) {
    .welcome .img_block {
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      text-aling: center; } }
  .welcome .img_block img {
    width: 100%; }
  .welcome .btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s; }
    .welcome .btn:after, .welcome .btn:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s; }
    .welcome .btn:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid black;
      border-left: 5px solid black; }
    .welcome .btn:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid black;
      border-right: 5px solid black; }
    .welcome .btn:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px; }
      .welcome .btn:hover:before, .welcome .btn:hover:after {
        width: 100%;
        height: 100%; }
  .welcome .data-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 425px) {
      .welcome .data-container {
        margin-top: 0px; } }
    .welcome .data-container .btn a {
      color: #000;
      text-decoration: none; }
  .welcome .welcome_block {
    margin-top: 10%; }
    @media (max-width: 425px) {
      .welcome .welcome_block {
        margin-top: 0px; } }

.action {
  display: flex;
  align-items: center;
  text-align: center;
  background: url("../images/action_2back.png") no-repeat;
  background-size: contain;
  background-position: 0 0;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 425px) {
    .action {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .action h2 {
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px; }
  .action h3 {
    font-weight: 400;
    font-size: 38px; }

.product {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media (max-width: 425px) {
    .product {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .product h2 {
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px; }
  .product .btn_fast_order {
    background: #34ace0;
    border: 1px solid #34ace0;
    color: #fff;
    padding: 11px 15px 11px 15px;
    text-decoration: none;
    border-radius: 35px; }
    .product .btn_fast_order:hover {
      color: #34ace0;
      background: transparent;
      border: 1px solid #34ace0; }
  .product .card {
    width: 100% !important;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    border-radius: 35px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 5px 23px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 23px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 23px 3px rgba(34, 60, 80, 0.2);
    transition: 0.33s linear; }
    .product .card:hover {
      box-shadow: none;
      border: 1px solid #223c50; }
    .product .card .card-title {
      margin-top: 15px;
      margin-bottom: 25px; }

.privilegies {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 425px) {
    .privilegies {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .privilegies .row {
    margin: 0px !important;
    padding: 0px !important; }
  .privilegies h2 {
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px; }
  .privilegies p {
    font-size: 20px; }
  .privilegies .icon-box {
    width: 80%;
    margin: auto;
    text-align: center; }
    @media (min-width: 320px) {
      .privilegies .icon-box {
        width: 100%;
        padding-top: 25px; } }
    .privilegies .icon-box img {
      width: 100px; }
    .privilegies .icon-box h3 {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 20px; }
    .privilegies .icon-box p {
      font-size: 14px;
      line-height: 23px;
      font-weight: 300; }

.quick_order {
  position: fixed;
  display: none;
  top: 35%;
  left: 80%;
  right: 0px; }
  @media (max-width: 425px) {
    .quick_order {
      display: block;
      left: 75%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .quick_order {
      display: block;
      left: 90%; } }
  .quick_order button {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    transition: 0.13s linear; }
    .quick_order button:hover {
      background-color: rgba(0, 0, 0, 0.34); }
    .quick_order button img {
      width: 40px; }

.delivery {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url("../images/bg_top.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff; }
  .delivery h2 {
    text-align: center;
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px; }
  .delivery p {
    text-align: center;
    font-size: 20px; }
  .delivery .delivery-block {
    margin-top: 70px;
    text-align: center;
    margin-right: 45px;
    margin-left: 45px; }
    .delivery .delivery-block h3 {
      font-size: 48px;
      font-style: italic;
      background: #34ace0;
      border-radius: 50px;
      height: 100%;
      padding: 5px 20px 10px 20px;
      color: #fff;
      font-weight: 600; }
    .delivery .delivery-block p {
      margin-top: 45px;
      font-size: 22px; }
    .delivery .delivery-block img {
      text-align: center;
      width: 120px; }

.acsesoars {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  color: #000; }
  @media (max-width: 425px) {
    .acsesoars {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .acsesoars .row {
    margin-top: 120px !important; }
  .acsesoars h2 {
    text-align: center;
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .acsesoars .staff_block {
    text-align: center; }
    .acsesoars .staff_block img {
      width: 250px;
      margin: auto;
      text-align: center;
      transition: 0.33s linear; }
      .acsesoars .staff_block img:hover {
        transform: scale(1.5); }
    .acsesoars .staff_block h3 {
      font-size: 18px;
      line-height: 25px;
      margin-top: 15px;
      margin-bottom: 15px; }

.clean {
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 425px) {
    .clean {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .clean h2 {
    text-align: center;
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .clean h4 {
    margin-top: 30px;
    text-align: center; }
  .clean .wrapper {
    margin-top: 80px; }
    .clean .wrapper .col-lg-3,
    .clean .wrapper .col-md-3,
    .clean .wrapper .col-xs-12 {
      margin-top: 50px;
      margin-bottom: 50px; }

.shops {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(../images/website-background-image-size-psd-vector-photo.jpg) no-repeat center;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  text-align: center; }
  .shops h2 {
    text-align: center;
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .shops .slick_item {
    margin-top: 45px; }
    .shops .slick_item img {
      width: 100%; }

.contact_form {
  padding-top: 120px;
  padding-bottom: 120px; }
  .contact_form .googlemaps iframe {
    width: 100%;
    height: 500px; }
  .contact_form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .contact_form form {
    background: #70a1ff;
    padding: 40px 50px 40px 50px;
    border-radius: 35px;
    margin-top: 30px;
    color: #fff; }
    .contact_form form .form-label {
      font-size: 16px; }
    .contact_form form input,
    .contact_form form select {
      background: transparent;
      border: 0px;
      border-radius: 0px;
      border-bottom: 1px solid #fff;
      padding: 7px 10px 7px 10px;
      color: #fff; }
      .contact_form form input:focus,
      .contact_form form select:focus {
        background: transparent;
        border-bottom: 1px solid #000;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0); }
    .contact_form form div {
      margin-top: 55px; }
    .contact_form form .submit_btn {
      background: #34ace0;
      color: #fff;
      padding: 11px 22px 11px 22px;
      text-align: center;
      margin: auto;
      border: 1px solid #34ace0;
      border-radius: 22px;
      margin-top: 30px;
      transition: 0.33s linear; }
      .contact_form form .submit_btn:hover {
        color: #34ace0;
        background: #fff;
        boder: 1px solid #fff; }

.footer {
  text-align: center;
  background-color: #70a1ff;
  padding-top: 15px;
  padding-bottom: 15px; }
  .footer p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0; }
  .footer img {
    width: 150px; }
  .footer .col-lg-4,
  .footer .col-md-4,
  .footer .col-xs-12 {
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center; }

@media (max-width: 425px) {
  .wrapper {
    display: block; } }

/*# sourceMappingURL=main.css.map */
